<div class="container">
	<div class="row">
		<% @user.favorite_posts.each do |post| %>
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
				<div class="col-xs-12 star-body">
				    <div class="inview">
				    	<%= link_to post_path(post),data: {"turbolinks"=>false} do %>
					        <% if post.post_images.present? %>
							  <% post.post_images.first(1).each do |image| %>
							    <%= attachment_image_tag image, :image, :fill, 250, 250 %>
							  <% end %>
							  <% else %>
							    <%= image_tag 'no_image.jpg', size: '250x250' %>
							<% end %>
						<% end %>
				    </div>
					<div>
						<%= post.shooting_date %>
					</div>
					<div>
						<%= post.body %>
					</div>
				</div>
			</div>
		<% end %>
	</div>
</div>