<div class="container">
    <div class="row">
        <div class="col-xs-1">
        </div>
        <div class="col-xs-10">
            <h3> Follow User</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>image</th>
                        <th>name</th>
                    </tr>
                </thead>
                <tbody>
                <% @user.following.each do |user| %>
                    <tr>
                        <td><%= attachment_image_tag(user, :profile_image, :fill, 50, 50, fallback: "no_image.jpg") %>
                        </td>
                        <td>
                            <%= user.name %>
                        </td>
                        <td>
                            <%= 'フォロー数' %>
                            <%= user.following_relationships.count %>
                        </td>
                        <td>
                            <%= 'フォロワー数' %>
                            <%= user.follower_relationships.count %>
                        </td>
                        <td>
                            <%= link_to 'show', user_path(user) %>
                        </td>
                    </tr>
                <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>