<div class="container">
    <div class="row">
        <div>
          <h1>japan-walk</h1>
            <div class="clearfix margin-top">
                <div class="field">
        		        <%= attachment_image_tag @user, :profile_image, id: :img_prev, fallback: "no_image.jpg", size:"300x300" %>
        		    </div>
                <div class="col-xs-2">
                    <%= render partial: 'relationships/follow_button', locals: { user: @user } %>
                </div>
                <br><br>
                <div>
                    <%= 'フォロー' %>
                    <%= link_to followers_user_path(@user) do %>
                        <%= @user.followers.count %>
                    <% end %>
                </div>
                <div>
                    <%= 'フォロワー' %>
                    <%= link_to following_user_path(@user) do %>
                        <%= @user.following.count %>
                    <% end %>
                </div>
                <div>
                    <%= link_to posts_path(@user.favorites) do %>
                      いいねした投稿（<%= @user.favorites.count %>件）
                    <% end %>
                </div>
                <div>
                    <h3><%= @user.name %></h3>
                </div>
                <div>
                    <%= @user.introduction %>
                </div>
                <div>
                    <%= @user.birthday %>
                </div>
                <div>
                    <% if @user == current_user %>
                        <%= link_to "編集", edit_user_path(@user), class: "fas fa-user-edit" %>

                        <%= link_to "退会する",user_path(current_user.id), class: "destroy-user",method: :delete %>
                    <% end %>
                </div>
            </div>
          <div class="row">
              <% @posts.each do |post| %>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                      <div class="col-xs-12 star-body">
                          <div class="inview show-pic">
                              <%= link_to attachment_image_tag(post,:post_image, fallback: "no_image.jpg",), post_path(post) %></div>
                          <div><%= post.user.name %></div>
                          <div><%= post.body %></div>
                          <div><%= render partial: 'tags/tag_list', locals: {tag_list: post.tag_list} %></div>
                          <div><%= post.shooting_date %></div>
                      </div>
                  </div>
              <% end %>
          </div>
        </div>
    </div>
</div>