<div class="container">
  <div class="row">
    <div class="container">
      <h1>japan-walk</h1>
      <div class="clearfix margin-top">
        <div class="field">
		    <%= attachment_image_tag @user, :profile_image, id: :img_prev, fallback: "no_image.jpg", size:"300x300" %>
		</div>
        <div>
          <h3><%= @user.name %></h3>
        <div>
          <%= @user.introduction %>
        </div>
        <div>
          <%= @user.birthday %>
        </div>
        <div>
          <% if @user == current_user %>
            <%= link_to "編集", edit_user_path(@user), class: "fas fa-user-edit" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>