<div class="container">
  <div class="row">
    <div class="container">
      <h1>japan-walk passport</h1>
      <div class="clearfix margin-top">
        <div class="pull-left col-md-3 col-sm-12">
          <%= attachment_image_tag @user, :profile_imageid, format: "jpeg", fallback: "no_image.jpg", size:"200x200", class: "img-rounded" %>
        </div>
        <div class="pull-left col-md-9 col-sm-12">
          <h3><%= @user.name %></h3>
        <div>
          <%= @user.introduction %>
        </div>
        <div class="margin-top">
          <%= @user.birthday %>
        </div>
        <div>
          <% if @user == current_user %>
            <%= link_to "編集", edit_user_path(@user), class: "fas fa-user-edit" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>