<header class="border-bottom">
	<div class="container">
    <nav class="nav navbar-nav navbar-left">
        <div class="header-title">
        	<%= link_to "JapanWalk", root_path, class: "fas fa-plane", data: {"turbolinks"=>false} %>
        </div>
    </nav>
	<nav class="nav navbar-nav navbar-right">
		<div class="header-logo">
			<ul>
			<% if user_signed_in? %>
				<li><%= link_to "", user_path(current_user), class: "fas fa-user" %></li>
				<li><%= link_to "", posts_path, class: "fas fa-images" %></li>
				<li><%= link_to "", new_post_path, class: "fas fa-plus" %></li>
				<li><%= link_to '', root_path, class: "fas fa-home", data: {"turbolinks"=>false} %></li>
				<li><%= link_to '', homes_about_path, class: "fas fa-info-circle" %></li>
				<li><%= link_to "", destroy_user_session_path, method: :delete, class: "fas fa-sign-out-alt" %></li>
			<% else %>
			    <li><%= link_to '', root_path, class: "fas fa-home" %></li>
			    <li><%= link_to "", posts_path, class: "fas fa-images" %></li>
			    <li><%= link_to "", homes_about_path, class: "fas fa-info-circle" %></li>
		        <li><%= link_to "", new_user_registration_path, class: "fas fa-baby" %></li>
		        <li><%= link_to "", new_user_session_path, class: "fas fa-sign-in-alt" %></li>
		    <% end %>
		    </ul>
		</div>
	</nav>
    </div>
</header>